.red{
    background-color: red;
}

.white{
    background-color: white;
}


.board{
    height:680px;
    width: 680px;
    border:1px grey solid;
    display:block;
}

/* Used to display the checkers pieces */
.squares{
    margin:20;   
    display:block;  
     
}
.square-row{
    display: inline-flex;
    margin: auto;
    margin-top:-5px;
}

.square-row:nth-child(odd) .square:nth-child(even) {
    background: lightgreen
}

.square-row:nth-child(odd) .square:nth-child(odd) {
    background: #FFF
}
.square-row:nth-child(even) .square:nth-child(even) {
    background: #FFF
}

.square-row:nth-child(even) .square:nth-child(odd) {
    background: lightgreen
}

.square {
    width: 80px;
    height: 80px;
    border:1px solid grey;
    display:inline-flex;
    margin: auto; 

}
.checker{
    width: 64px;
    height: 64px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: auto;
}


.square-number{
    float: left;
    z-index: 2000;
    position: fixed;
}
